body
{
  background: linear-gradient(to right, green, #D8D8D8, #D8D8D8, #C8C8C8, green);

  // background: -moz-linear-gradient(black, transparent); /* FF 3.6+ */
  // background: -ms-linear-gradient(black, transparent); /* IE10 */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff)); /* Safari 4+, Chrome 2+ */
  // background: -webkit-linear-gradient(black, transparent); /* Safari 5.1+, Chrome 10+ */
  // background: -o-linear-gradient(black, transparent); /* Opera 11.10 */
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr=transparent); /* IE6 & IE7 */
  // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr=transparent)"; /* IE8+ */
  // background: linear-gradient(black, transparent); /* the standard */
  // z-index: 1;
}

.container
{
  border-radius: 5px;
  width:80%;
  text-align: center;
  margin: 20px auto;
  border-color: black;
  max-width: 800px;
}

#my_pic
{
  width: "280px";
  height: "280px";
  border-radius: 25px;
  border:3px ridge green;
  border-color:  green black green black;
}

ul
{
  margin: auto;
  padding:0px;
}

.tabs
{
  width: 100%;
  margin-bottom: 25px;
  list-style: none;
  position:relative;

  li
  {
    border:3px outset green;
    width: 8px;
    color: #f00;
    width:75px;
    display: inline-block;
    margin-left: 0;
    padding: 9px 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    a
    {
        color: #666;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
    }
  }

  li.active
  {
    box-shadow: 0px 0px 32px 2px black inset;

    a
    {
        color: black;
        text-decoration: none;
        border-bottom: none;
    }
  }

  .tab
  {
      display: none;
      margin:auto;
  }
}

p
{
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3
{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#social_media_div li
{
  display:inline;
  padding-right: 10px;
}

#main_content
{
  padding:5% 10%;
  margin:auto;
  border:3px outset green;

  background-color:rgba(0,255,0,0.2);

  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
  box-shadow: 10px 10px 5px black;
  max-width: 800px;
}